<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ profile.user.username }}'s Profile</title>
</head>
<body>
    <h1>Профіль {{ profile.user.first_name }} {{ profile.user.last_name}}</h1>

    <!-- Аватар с дефолтной картинкой -->
    <img src="https://cdn-icons-png.flaticon.com/512/4837/4837857.png" alt="Аватар" width="150">

    <!-- Можно добавить ссылки на редактирование -->
    <p><a href="{% url 'profile_edit' %}">Редагувати профіль</a></p>
    <form action="/logout/" method="post">
        {% csrf_token %}
        <button type="submit">Выйти з акаунта </button>
    </form>
    <a href="{% url 'home' %}">Повернутись на головну</a>
 </p>
</body>
</html>
