<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    
    <label>Клас:</label><br>
    {{ form.school_class }}<br>

    <label>Предмет:</label><br>
    {{ form.subject }}<br>

    <label>Вчитель:</label><br>
    {{ form.teacher }}<br>

    <label>День тижня:</label><br>
    <select name="day_of_week">  <!-- без multiple -->
        {% for value, label in form.day_of_week.field.choices %}
            <option value="{{ value }}" {% if form.day_of_week.value == value %}selected{% endif %}>
                {{ label }}
            </option>
        {% endfor %}
    </select><br>

    <label>Номер уроку:</label><br>
    {{ form.lesson_number }}<br>

    <label>Час початку:</label><br>
    {{ form.start_time }}<br>

    <button type="submit">Створити розклад</button>
</form>


</body>
</html>