<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" />
    <title>Delete HomeWork</title>
</head>
<body>

<h2 class="h2-delete">Видалити завдання?</h2>

<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Так, видалити</button>
    <a href="{% url 'electronic_diary:diary' %}" class="btn btn-secondary">Скасувати</a>
</form>
    
</body>
</html>